.empoweringContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 20px;
    background-color: #000;
  }
  
  .featuresBox {
    display: flex;
    gap: 15px;
    background-color: #111111;
    margin-left: 150px;
    margin-right: 150px;
    img {
      @media screen and (max-width: 520px) {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

    }
    @media screen and (max-width: 520px) {
      margin-left: 0;
      margin-right: 0;
      flex-direction: column;
      padding-bottom: 30px;
      border-radius: 10px;
      h2 {
        font-size: 25px;
      }
    }
    .boxContent {
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: center;
      align-items: flex-start;
      @media screen and (max-width: 520px) {
        text-align: center;
        align-items: center;
        margin: 0 20px 0 20px;
      }
      p {
        color: #ffffff;
      }
    }
  }
  
  .featuresContainer {
    padding: 60px 20px;
    background-color: #000;
    p{
      font-size: 20px;
      color: #fff;
      padding-bottom: 20px;
    }
  }
  
  .featuresTitle {
    color: #fff;
    margin-bottom: 20px;
    font-size: 58px;
  }
  
  .featuresGrid {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 20px;
    margin: 0 150px 0 150px;
  }
  
  .featureCard {
    border: solid 0.5px #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    .cardTitle {
      color: #fff;
      font-size: 15px;
    }
  }
  
  .icon {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  

  .techStackContainer {
    padding: 60px 20px;
    background-color: #000;
  }
  
  .title {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .platformsGrid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 15px;
    margin: 0 150px 0 150px;

    .platformImg{
      width: 100%;
      height: 100%;
    }
  }
  
  .platformCard {
   
  }
  
  


  
  .whyUsContainer {
    padding: 60px 20px;
    background-color: #222;
  }
  
  .title {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .reasonsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .reasonCard {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
  }
  
  .cardTitle {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .cardDescription {
    color: #aaa;
  }
  