.page__error {
	text-align: center;
	h1 {
		color: red;
		font-size: 30px;
	}
	h2 {
		font-size: 24px;
	}
	p {
		display: flex;
		justify-content: center;
		gap: 10px;
		color: white;
		font-size: 20px;
	}
}
